.App {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--White, #FFF);
  padding: 40px 112px;
  gap: 32px;
  }

.metric-item {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Gray-200, #E9EAEB);
  background: var(--White, #FFF);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
}

.metrics-containers {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.overview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.overview-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.market-container {
  display: flex;
  width: 1216px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.competitors {
  display: flex;
  width: 1216px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}


