:root {
    /* Primary Color */
    --color-primary-main: #003366; /* Deep Blue */
    --color-primary-light: #005b8c; /* Lightened Deep Blue */
    --color-primary-dark: #001f4d; /* Darkened Deep Blue */
    --color-primary-contrast-text: #FFFFFF; /* White */

    /* Secondary Color */
    --color-secondary-main: #00c6be; /* Teal */
    --color-secondary-light: #33d9d0; /* Lightened Teal */
    --color-secondary-dark: #009b8c; /* Darkened Teal */
    --color-secondary-contrast-text: #FFFFFF; /* White */

    /* Info Color */
    --color-info-main: #198580; /* Dark Teal */
    --color-info-contrast-text: #FFFFFF; /* White */

    /* Neutral Color */
    --color-neutral-main: #334b49; /* Dark Grayish Teal */
    --color-neutral-light: #4d6462; /* Lightened Neutral */
    --color-neutral-dark: #1f2e2d; /* Darkened Neutral */
    --color-neutral-contrast-text: #FFFFFF; /* White */

    /* Background Colors */
    --color-background-light: #F5F5F5; /* Light Gray */
    --color-background-dark: #334b49; /* Dark Grayish Teal */
    --color-background-paper: #FFFFFF; /* White */
    --color-background-contrast-text: #000000; /* Black */
}

/* General Styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background-light);
    color: var(--color-background-contrast-text);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    text-transform: none !important;
}

h1, h2 {
    color: var(--color-primary-main);
}

h1 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 60px; /* 118.75% */
    margin: 0;
    text-align: center;
    width: 75%;
}

h2 {
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 118.75% */
    margin: 0;
}

h3 {
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 190% */
    margin: 0; 
    color: var(--color-secondary-dark);
}

h4 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 190% */
    margin: 0;
}

p {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin: 0;
}

ul {
    margin: 0;
}

li {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin: 0;
}

/* Button Styles */
button {
    display: inline-block !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    text-transform: none !important;
}

input {
    font-size: 16px !important;
    padding: 8px 16px !important; 
    height: 28px !important;
    background-color: white !important;
}

/* Primary Button */
.button-primary {
    background-color: var(--color-primary-main);
    color: var(--color-primary-contrast-text);
}

.button-primary:hover {
    background-color: var(--color-primary-light);
}

/* Secondary Button */
.button-secondary {
    background-color: var(--color-secondary-main);
    color: var(--color-secondary-contrast-text);
}

.button-secondary:hover {
    background-color: var(--color-secondary-light);
}

/* Tertiary Button */
.button-tertiary {
    background-color: var(--color-neutral-main);
    color: var(--color-neutral-contrast-text);
    border: 1px solid var(--color-neutral-dark);
}

.button-tertiary:hover {
    background-color: var(--color-neutral-light);
}

/* Alerts */
.alert-success {
    background-color: var(--color-secondary-main);
    color: var(--color-secondary-contrast-text);
    padding: 10px;
}

.alert-warning {
    background-color: #FFEB3B; /* Soft Yellow */
    color: #000000; /* Black */
    padding: 10px;
}

/* Footer */
footer {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-contrast-text);
    padding: 20px;
    text-align: center;
}